{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="main-content">
<div id="map"></div>
<br></br>
<section class="gym-lists">
  <div class="gym-search">
    <input class="gym-input" type="text" placeholder="찾는 헬스장을 검색해보세요">
    <button>검색</button>
  </div>
  {% for gym in gyms %}
  <section class="gym-list">
    <div class="gym-list-information">
      <div class="gym-list-name">이름 : {{ gym.name }}</div>
      <div class="gym-list-address">주소 : {{ gym.address }}</div>
    </div>
    <button class="gym-list-btn" type="button" onClick="changeGym('{{ gym.name }}', '{{ gym.address }}', '{{ gym.latitude }}', '{{ gym.longitude }}', '32')">지도보기</button>
  </section>
  {% endfor %}
  <p> {{gyms}}</p>
</section>
<input type="hidden" id="gymname" name="gymname" value="defaultname" />
<input type="hidden" id="gymaddress" name="gymaddress" value="defaultaddress" />
<input type="hidden" id="gymlatitude" name="gymlatitude" value="37.450768" />
<input type="hidden" id="gymlongitude" name="gymlongitude" value="126.952468" />
<input type="hidden" id="gympopulation" name="gympopulation" value="32" />
<script src="{% static 'pages/map.js' %}"></script>  
</section>
{% endblock content %}