{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>헬스장 리스트</h1>
<div id="map" style="width:50%;height:50vh;"></div> 
<script>
function changeGym(name, address){
    document.getElementById("gymname").value = name;
    document.getElementById("gymaddress").value = address;
}
</script>
{% for gym in gyms %}
<div>
    <div>이름 : {{ gym.name }}</div>
    <div>주소 : {{ gym.address }}</div>
    <button type="button" onClick="changeGym("{{ gym.name }}", "{{ gym.address }}")">지도보기</button>
</div>
{% endfor %}
<input type="hidden" id="gymname" name="gymname" value="defaultname">
<input type="hidden" id="gymaddress" name="gymaddress" value="defaultaddress">
<script src="{% static 'pages/map.js' %}"></script>  
{% endblock content %}