{% extends 'base.html' %}

{% block content %}

<form action="/pages/review/new/" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="review-title">제목: </label>
  <input id="review-title" type="text" name="review-title" placeholder="제목"> <br>

  <label for="review-content">내용: </label>
  <input id="review-content" type="text" name="review-content" placeholder="내용"> <br>

  <label for="review-photo">사진 </label>
  <input id="review-photo" type="file" name="review-content"> <br>

  <input type="submit" value="작성">
</form>
{% endblock content %}