{% extends 'base.html' %}
{% block content %}
<div class="review-wrapper">
  {% if user.is_authenticated %}
    <div class="write-button-div">
      <button class="write-button"><a href="/pages/review/new/">글쓰기</a></button>
    </div>
  {% endif %}
  <div class="review-list">
    <table>
      <colgroup>
        <col style="width:20%">
        <col>
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:6%">
        <col style="width:6%">
      </colgroup>
      <thead>
        <tr>
          <th scope="col">매장이름</th>
          <th scope="col">제목</th>
          <th scope="col">글쓴이</th>
          <th scope="col">추천수</th>
          <th scope="col">작성일</th>
          <th scope="col">조회수</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews reversed %}
          <tr>
            <td>{{ review.gym.name }}</td>
            <td style="text-align: left;"><a href="/pages/review/{{ review.id }}/">{{ review.title }} [{{ review.reviewcomment_set.count }}]</a></td>
            <td>{{ review.author }}</td>
            <td>0</td>
            <td>{{ review.created_at|date:"y/m/d" }}</td>
            <td>{{ review.hits }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if user.is_authenticated %}
    <div class="write-button-div">
      <button class="write-button"><a href="/pages/review/new/">글쓰기</a></button>
    </div>
</div>
  {% endif %}
{% endblock content %}
